<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- FROM  SPREADSHEET -->
    <add key="Gravity" value="8"/>
    <add key="InitialSpeed" value="8"/>
    <add key="ParachuteReleaseHeight" value="5000"/>
    <add key="DropHeight" value="1"/>
    <add key="BurnEffectiveness" value="24"/>
    <add key="TargetDescentVelocityLarge" value="100"/>
    <add key="TargetDescentVelocitySmall" value="3"/>
    <add key="TargetDescentVelocitySmallAltitude" value="500"/>
    <add key="TargetMaximumLandingVelocity" value="11"/>

    <!-- FROM UI -->
    <add key="AxialThrust" value="24"/>
    <add key="ParachuteTerminalVelocity" value="8"/>
    <add key="EngineCutHeight" value="1"/>
    <add key="SlowDecentHeight" value="500"/>
    <add key="TargetHighAltitudeFallSpeed" value="100"/>
    <add key="TargetLowAltitudeFallSpeed" value="3"/>
  </appSettings>
</configuration>